.movie-container{
    width: 80%;
    margin: auto;
}
.movie-list{
    width: 70%;
    margin: auto;
    border-style: solid;

}
.movie-card{
    width: 50%;
    margin: auto;
}
img{
    width: 50%;
    margin: auto;
}
.movie-card{
    width: 80%;
    margin: auto;
}
